@charset "utf-8";

.input-group-text {
    width: 40px;
}

input.fas {
    width: 2.6rem;
}

.warning-badge {
    width: 1.1rem;
    height: 1.1rem;
}

.btn-xl {
    padding: 0.6rem 1.2rem;
    font-size: 1.35rem;
    border-radius: 0.3rem;
}

.btn-outline-success.btn-sm {
    width: 3.8rem;
}
